* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General sans";
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  height: 250px;
  width: 150px;
}

#write input {
  padding: 10px;
  font-size: 1.2vw;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid #4d6bb0;
  width: 360px;
}

#likho {
  display: flex;
  gap: 10px;
}

#write p {
  text-align: center;
  font-size: 1.2vw;
  color: #3c65c6;
  margin: 10px 0px;
}

#write button {
  padding: 10px 20px;
  background-color: #4d6bb0;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  color: white;
}

#write h4 {
  color: grey;
  margin-top: 5px;
}

#bloop {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 999;
  position: relative;
  flex-direction: column;
  align-items: center;
}

#hair {
  height: 15%;
  width: 20%;
  border-radius: 50%;
  background-color: #1f3644;
}

#face {
  height: 20%;
  width: 30%;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background-color: #09cdc6;
}

#neck {
  height: 5%;
  width: 35%;
  border-radius: 20px;
  background-color: #782beb;
}

#chest {
  height: 20%;
  width: 90%;
  background-color: #2fddd1;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#legs {
  height: 40%;
  width: 30%;
  display: flex;
}

#leg {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-end;
  background-color: #01c9d6;
}

#shock{
    height: 40%;
    width: 100%;
    background-color: #ecc100;
}

#leg:nth-of-type(2) {
  border-left: 2px solid rgba(0, 0, 0, 0.561);
}

#hand-left {
  height: 40%;
  width:23%;
  left: 10%;
  top: 50%;
  z-index: -1;
  border-radius: 20px;
  position: absolute;
  background-color: #01c9d6;
}

#hand-right {
  height: 40%;
  width: 23%;
  right: 10%;
  top: 50%;
  z-index: -1;
  overflow: hidden;
  border-radius: 20px;
  position: absolute;
  background-color: #01c9d6;
}

#hand-right::before {
  content: "✔️";
  bottom: 5%;
  right: -150%;
  transform: rotate(90deg);
  position: absolute;
}

.done {
    transform: rotate(-90deg) translateX(120%) translateY(10%) !important;
}

.visible {
  overflow: visible !important;
}

#hand-right::after {
  content: "";
  width: 90%;
  height: 10%;
  bottom: 13%;
  right: -40%;
  position: absolute;
  border-radius: 20px;
  background-color: #01c9d6;
}

#eyes {
  height: 40%;
  width: 100%;
  position: absolute;
  top: 20%;
  display: flex;
  gap: 2px;
}

#eye-left {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#eye-right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.soch {
  transition: 0.3s;
  height: 50% !important;
}

#white {
  height: 80%;
  width: 80%;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#white::after {
  content: "";
  height: 40px;
  width: 5px;
  top: 100%;
  position: absolute;
  background-color: #3c65c6;
}

#black {
  height: 60%;
  width: 40%;
  border-radius: 50%;
  background-color: black;
}

#smile {
  height: 30%;
  width: 50%;
  position: absolute;
  border-top: 2px solid black;
  /* border-radius: 50%; */
  bottom: 10%;
  left: 25%;
}

.sad {
  border-radius: 50% !important;
  border-top: 2px solid black !important;
}

.smile {
  border-top: 2px solid black !important;
  background-color: white !important;
  border-bottom-right-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
}
