*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#main{
    height: 50%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    border-radius: 40px;
    background-color: lightseagreen;
}

#bubble{
    height: 5px;
    position: fixed;
    width: 5px;
    transition: 0.3s linear;
    background-color: black;
    border-radius: 50%;
}

