* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "General sans";
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  height: 200px;
  width: 150px;
}

#squireel {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 999;
  position: relative;
  align-items: center;
  flex-direction: column;
}

#face{
    height: 50%;
    width: 50%;
    bottom: 0;
    border-top-right-radius: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    background-color: #f08f35;
}

#stomach{
    height: 30%;
    width: 70%;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    background-color: #fbb96d;
}

#foot-left{
    height: 40%;
    width: 30%;
    left: -10%;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #3b1c0d;
}

#foot-right{
    height: 40%;
    width: 30%;
    right: -10%;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #3b1c0d;
}

#tail-first{
    height: 100%;
    width: 50%;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: absolute;
    background-color: #d67b32;
}

#tail-second{
    height: 60%;
    width: 40%;
    left: -40%;
    position: absolute;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: #d67b32;
}

#ears{
    height: 15%;
    width: 46%;
    top: 35%;
    left: 15%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

#ear-left{
    height: 100%;
    width: 20%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #f08f35;
}

#ear-right{
    height: 100%;
    width: 20%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #f08f35;
}

#top{
    height: 30%;
    width: 100%;
    top: 20%;
    display: flex;
    position: absolute;
    gap: 4px;
}

#eye-left{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#eye-right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

#white{
    height: 100%;
    width: 70%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.soch{
  height: 70% !important;
}

.visible{
  overflow: visible !important;
}

#white::after{
  content: '';
  height: 70px;
  width: 5px;
  top: 100%;
  position: absolute;
  background-color: #3c65c6;
}

#brown{
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background-color: #312013;
}

#smile{
    height: 15%;
    width: 40%;
    position: absolute;
    top: 55%;
    display: flex;
    border-top: 2px solid black;
    justify-content: center;
}
.sad{
  border-radius: 50% !important;
  border-top: 2px solid black !important;
}

.smile{
    opacity: 1 !important;
    border-bottom-right-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    background-color: #312013 !important;
    border-top: 0px solid black !important;
}

#teeth{
    height: 50%;
    width: 30%;
    /* opacity: 0; */
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
}

.opacity{
    opacity: 1 !important;
}

#hand-right{
  height: 5%;
  bottom: 10%;
  z-index: -1;
  position: absolute;
  width: 50%;
  overflow: hidden;
  border-radius: 30px;
  background-color: #f08f35;
}
.done{
  right: 7% !important;
  transition: 0.3s !important;
}

#finger{
  height: 100%;
  width: 15%;
  right: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  background-color: #fbb96d;
}

#hand-right::before{
  content: '';
  height: 90%;
  width: 8%;
  top: -40%;
  right: 7%;
  border-radius: 20px;
  position: absolute;
  background-color: #fbb96d;
}

#hand-right::after{
  content: '✔️';
  right: -7%;
  top: -280%;
  position: absolute;
}














#write input {
  padding: 10px;
  font-size: 1.2vw;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid #4d6bb0;
  width: 360px;
}

#likho {
  display: flex;
  gap: 10px;
}

#write p {
  text-align: center;
  font-size: 1.2vw;
  color: #3c65c6;
  margin: 10px 0px;
}

#write button {
  padding: 10px 20px;
  background-color: #4d6bb0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}

#write h4 {
  color: grey;
  margin-top: 5px;
}
