* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#main {
    height: 250px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stan {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#face {
    height: 50%;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: rgb(249, 183, 158);
}

#face::before {
    content: '';
    height: 20px;
    width: 20px;
    top: 50%;
    left: -10%;
    border-radius: 50%;
    background-color: rgb(249, 183, 158);
    position: absolute;
}

#face::after {
    content: '';
    height: 20px;
    width: 20px;
    top: 50%;
    right: -10%;
    border-radius: 50%;
    background-color: rgb(249, 183, 158);
    position: absolute;
}

#chest {
    height: 30%;
    width: 70%;
    position: relative;
    background-color: black;
}

#chest::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid rgb(249, 183, 158);
}

#legs {
    height: 20%;
    width: 70%;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    background-color: rgb(32, 32, 125);
}

#top {
    height: 20px;
    width: 15px;
    transform: translateY(-70%) skew(10deg);
    background-color: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 5px;
}

#face {
    flex-direction: column;
    align-items: center;
}

#center {
    height: 50%;
    width: 100%;
    z-index: 999;
    display: flex;
}

#goggle-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 2px;
    align-items: flex-end;
    gap: 1px;
}

#goggle-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-left: 2px;
}

#eyebrow-left {
    height: 0px;
    width: 40px;
    border-radius: 50px;
    border: 3px solid black;
}

.cry1 {
    transform: rotate(-4deg) translateY(25%) !important;
}

.cry2 {
    transform: rotate(4deg) translateY(25%);
}

.happy1 {
    transform: translateY(-35%) !important;
}

#eyebrow-right {
    height: 0px;
    width: 40px;
    border-radius: 50px;
    border: 3px solid black;
}

#eye {
    height: 80%;
    width: 28px;
    display: flex;
    z-index: 999;
    justify-content: center;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
}

#tear {
    height: 77px;
    width: 10px;
    z-index: -1;
    display: none;
    position: absolute;
    background-color: rgb(104, 104, 203);
}

#black {
    height: 45%;
    width: 15px;
    background-color: black;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#goggle {
    height: 35px;
    width: 40px;
    display: flex;
    position: relative;
    justify-content: center;
    position: relative;
    border: 5px solid black;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#bottom {
    height: 10px;
    width: 30px;
    border-bottom: 2px solid black;
}

.sad {
    border-top: 2px solid black;
    border-radius: 50%;
    border-bottom: none !important;
}

.happy {
    border-bottom: 2px solid black;
    border-radius: 50%;
    border-top: none !important;
}

#write {
    display: flex;
    flex-direction: column;
    transform: translateY(20%);
}

#write p {
    color: rgb(5, 5, 14);
    font-size: 1.5vw;
    text-align: center;
    letter-spacing: 1px;
}

#write input {
    height: 40px;
    width: 280px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 20px;
    border: 1px solid darkblue;
}

#likho {
    margin: 10px 0px;
}

#write button {
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
    background-color: black;
    outline: none;
    color: white;
}

#write h4 {
    font-size: 1.4vw;
    color: grey;
}

#thumb {
    height: 0px;
    width: 70px;
    border-radius: 40px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translateX(0%) translateY(100%);
    border: 7px solid black;
}

.last{
    transform: translateX(100%) translateY(100%) !important;
}

#finger{
    height: 10px;
    width: 10px;
    transform: skew(4deg) translateX(60%) translateY(-20%);
    border-top-right-radius: 10px;
    border-top-left-radius: 3px;
    background-color: black;
    position: relative;
}

#finger::after{
    content: '✔️';
    position: absolute;
    transform: translateX(-40%) translateY(-100%);
}